h1 {
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    color: black;
    font-weight: 700;
 }

div.brownie {
    width: 300;
    height: auto;
    text-align: center;
 }

h5 {
    font-weight: 700;
    text-align: center;
}

body.secbody div.para {
    font-family: 'Times New Roman', Times, serif;
    background-color:cyan;
    color: white;
}